
html {
    height: 100%;
}

body{
    display: flex;
    height: 100%; /* 親要素の高さを指定（例としてビューポートの高さ） */
}

div:hover{
    background-color:rgb(179, 255, 0);
}

div {
    width: 300px;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    
    background-color: aquamarine;
    box-shadow: 0 0 20px 2px #000000;
}

p {
    margin-top: 0px;
    margin-bottom: 0px; 
}

img {
    max-width: 100px;
    margin-right: auto;
    margin-left: auto;
}

h2 {
    color: rgb(255, 0, 0);
}

h3{
    color: rgb(255, 0, 183);
    margin-top: 0px;
    margin-bottom: 0px; 
}

ul {
    display: inline-block;        /* リスト全体を中央に寄せる */
    margin-top: 0px;
    margin-bottom: 0px; 
}

li {
    text-align: left;
}